

<h1>Pomiar swiatla</h1>
<h4>Date: <span id="date"></span></h4>
<div class="chart-container" style="position: relative; width:75vw; margin: auto;">
    <canvas id="myChart"></canvas>
</div>
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
<script>
    var socket = io.connect('http://localhost:3000'); //connect to server

    var ctx = document.getElementById('myChart').getContext('2d');

    var gradientFill = ctx.createLinearGradient(1200,0, 50, 0);
    gradientFill.addColorStop(1, "rgba(109, 5, 218, 1)");
    gradientFill.addColorStop(0.941176, "rgba(78, 3, 255, 1)");
    gradientFill.addColorStop(0.882353, "rgba(6, 0, 255, 1)");
    gradientFill.addColorStop(0.823529, "rgba(0, 247, 255, 1)");
    gradientFill.addColorStop(0.764706, "rgba(0, 255, 118, 1)");
    gradientFill.addColorStop(0.705882, "rgba(13, 255, 0, 1)");
    gradientFill.addColorStop(0.647059, "rgba(153, 255, 0, 1)");
    gradientFill.addColorStop(0.588235, "rgba(255, 229, 0, 1)");
    gradientFill.addColorStop(0.529412, "rgba(255, 124, 0, 1)");
    gradientFill.addColorStop(0.470588, "rgba(255, 67, 0, 1)");
    gradientFill.addColorStop(0.411765, "rgba(255, 7, 0, 1)");
    gradientFill.addColorStop(0.352941, "rgba(179, 0, 0, 1)");
    gradientFill.addColorStop(0.294117, "rgba(87, 0, 0, 1)");
    gradientFill.addColorStop(0.235294, "rgba(0, 0, 0, 1)");
    gradientFill.addColorStop(0.17647, "rgba(0, 0, 0, 1)");
    gradientFill.addColorStop(0.117647, "rgba(0, 0, 0, 1)");
    gradientFill.addColorStop(0.0588233, "rgba(0, 0, 0, 1)");
    gradientFill.addColorStop(0, "rgba(0, 0, 0, 1)");

    var gradientOutline = ctx.createLinearGradient(1200,0, 50, 0);
    gradientOutline.addColorStop(1, "rgba(109, 5, 218, 0.8)");
    gradientOutline.addColorStop(0.941176, "rgba(78, 3, 255, 0.8)");
    gradientOutline.addColorStop(0.882353, "rgba(6, 0, 255, 0.8)");
    gradientOutline.addColorStop(0.823529, "rgba(0, 247, 255, 0.8)");
    gradientOutline.addColorStop(0.764706, "rgba(0, 255, 118, 0.8)");
    gradientOutline.addColorStop(0.705882, "rgba(13, 255, 0, 0.8)");
    gradientOutline.addColorStop(0.647059, "rgba(153, 255, 0, 0.8)");
    gradientOutline.addColorStop(0.588235, "rgba(255, 229, 0, 0.8)");
    gradientOutline.addColorStop(0.529412, "rgba(255, 124, 0, 0.8)");
    gradientOutline.addColorStop(0.470588, "rgba(255, 67, 0, 0.8)");
    gradientOutline.addColorStop(0.411765, "rgba(255, 7, 0, 0.8)");
    gradientOutline.addColorStop(0.352941, "rgba(179, 0, 0, 0.8)");
    gradientOutline.addColorStop(0.294117, "rgba(87, 0, 0, 0.8)");
    gradientOutline.addColorStop(0.235294, "rgba(0, 0, 0, 0.8)");
    gradientOutline.addColorStop(0.17647, "rgba(0, 0, 0, 0.8)");
    gradientOutline.addColorStop(0.117647, "rgba(0, 0, 0, 0.8)");
    gradientOutline.addColorStop(0.0588233, "rgba(0, 0, 0, 0.8)");
    gradientOutline.addColorStop(0, "rgba(0, 0, 0, 0.8)");


    var chart = new Chart(ctx, {

        backgroundColor: "#F5DEB3",
        type: 'line',

        data: {
            labels: ["410","435","460","485","510","535","560","585","610","645","680", "705", "730","760","810","860","900","940"],
            datasets: [{
                label: "Swiatlo",
                borderColor:               gradientFill,
                pointBorderColor:          gradientFill,
                pointBackgroundColor:      gradientFill,
                pointHoverBackgroundColor: gradientFill,
                pointHoverBorderColor:     gradientFill,
                data: [],
                fill: true,
                backgroundColor: gradientOutline,
                pointStyle: 'circle',
                pointRadius: 5,
                pointHoverRadius: 7,
                lineTension: 0.3,
            }]
        },

        // Configuration options go here
        options: {}

    });



    socket.on('temp', function(data) {
        console.log(data.temp);
        chart.data.datasets.forEach((dataset) => {
            dataset.data = [];
            dataset.data.push(...data.temp);
        });
        chart.update();
    });
</script>
<style>
    h1 {
        text-align: center;
        font-family: 'Lato', sans-serif;
    }

    h4 {
        text-align: center;
        font-family: 'Lato', sans-serif;
    }

    p {
        text-align: center;
        font-family: 'Lato', sans-serif;
    }


</style>
