{{>admin/admin-header}}

{{>admin/admin-topNav}}

<div id="wrapper">

    <!-- Sidebar -->
{{>admin/admin-sidenav}}

    <div id="content-wrapper">

        {{>admin/messages}}
 {{{body}}}
    </div>
    <!-- /.content-wrapper -->
{{>admin/admin-footer}}
</div>

{{>admin/admin-everythingonbot}}
